<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yudi oj</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
<table class="layui-table" lay-data="{height:315,  page:true, id:'test'}" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{field:'id',width:80, sort: true}">ID</th>
        <th lay-data="{field:'roleId',width:160, sort: true}">角色ID</th>
        <th lay-data="{field:'authId',width:160, sort: true}">权限ID</th>
        <th lay-data="{field:'createTime',width:160, sort: true}">创建时间</th>
        <th lay-data="{field:'modifyTime',width:160,sort: true}">修改时间</th>
        <th lay-data="{field:'status',width:160}">状态</th>
        <th lay-data="{field:'modify',width:160}">操作</th>
    </tr>
    </thead>
    <#list role2authList as role2auth>
    <tr>
        <td>${role2auth.id}</td>
        <td>${role2auth.roleId}</td>
        <td>${role2auth.authId}</td>
        <td>${role2auth.createTime?date}</td>
        <td>${role2auth.modifyTime?date}</td>
        <td>${role2auth.status}</td>
        <td><input type="button" value="删除" style="border: none;outline: none" onclick="authRoleFreeze('${role2auth.id}')"></td>
    </tr>
</#list>
</table>
</body>
</html>
<script src="/layui/layui.js"></script>
<script>
    function authRoleFreeze(id){
        $.ajax({
            type:"post",
            url:"/authRoleFreeze",
            data:{'id':id},
            success:function (data){
                layui.use('layer',function (){
                    var layer = layui.layer;
                    if(data=="true")
                        layer.msg("删除成功",{time:"1000",offset:"30px",anim:1})
                    else   layer.msg("删除失败",{time:"1000",offset:"30px",anim:1})
                    window.setTimeout(function (){
                        location="menuGo?id=1634645800287"
                    },1300)
                }).bind(this)
            }
        })

    }

</script>