<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yudi oj</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<table class="layui-table" lay-data="{height:315,  page:true, id:'test'}" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{field:'id',width:80, sort: true}">ID</th>
        <th lay-data="{field:'name',width:160}">用户名</th>
        <th lay-data="{field:'password',width:160}">密码</th>
        <th lay-data="{field:'createTime',width:160, sort: true}">创建时间</th>
        <th lay-data="{field:'modifyTime',width:160,sort: true}">修改时间</th>
        <th lay-data="{field:'status',width:160}">状态</th>
        <th lay-data="{field:'modify',width:160}">操作</th>
    </tr>
    </thead>
    <#list userList as user>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.pwd}</td>
        <td>${user.createTime?date}</td>
        <td>${user.modifyTime?date}</td>
        <td>${user.status}</td>
        <td><input type="button" value="修改" style="border: none;outline: none" onclick="modifyQst('${user.id}')"></td>
    </tr>
</#list>
</table>
</body>
</html>
<script src="/layui/layui.js"></script>
<script>
    function modifyQst(id){
        location = "/modifyQst?id="+id;
    }
</script>